In [1]:
#imports
from statsbombpy import sb
import mplsoccer

import pandas as pd
import numpy as np
import math

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
from copy import deepcopy
from ast import literal_eval

In [2]:
#df settings
pd.set_option("display.max_rows", 150)
pd.set_option("display.max_columns", 50)

In [3]:
data = pd.read_csv('only_played.csv')
data2 = pd.read_csv('latest.csv')

In [4]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'season_x', 'name', 'position', 'team_x',
       'assists', 'bonus', 'bps', 'clean_sheets', 'creativity', 'element',
       'fixture', 'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'kickoff_time', 'minutes', 'opponent_team', 'opp_team_name',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'yellow_cards', 'GW'],
      dtype='object')

In [5]:
data.drop(columns=['Unnamed: 0','Unnamed: 0.1'],inplace=True)

In [6]:
kane = data[data['name']=='Harry Kane']
kane2 = data2[data2['name']=='Harry Kane']
son = data[data['name']=='Heung-Min Son']
son2 = data2[data2['name']=='Son Heung-min']

In [7]:
mid_fwd = data[(data['position']=='MID') | (data['position']=='FWD')]
mid_fwd

,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,opp_team_name,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
1,2016-17,Aaron Lennon,MID,Burnley,0,0,6,0,0.3,142,3,0,0,0.9,8.2,2016-08-13T14:00:00Z,15,17,Spurs,0,0,0,0,1,0,13918,1.0,1.0,0.0,1,0,0,0,60,True,0,1
2,2016-17,Aaron Ramsey,MID,Arsenal,0,0,5,0,4.9,16,8,3,0,3.0,2.2,2016-08-14T15:00:00Z,60,9,Liverpool,0,0,0,0,1,0,163170,4.0,3.0,23.0,2,0,0,0,80,True,0,1
3,2016-17,Abdoulaye Doucour√©,MID,Everton,0,0,0,0,0.0,482,7,0,0,0.0,0.0,2016-08-13T14:00:00Z,0,13,Southampton,0,0,0,0,1,0,1051,1.0,1.0,0.0,0,0,0,0,50,False,0,1
4,2016-17,Adam Forshaw,MID,Leeds,0,0,3,0,1.3,286,6,1,0,0.3,2.0,2016-08-13T14:00:00Z,69,14,Stoke,0,0,0,0,1,0,2723,1.0,1.0,0.0,1,0,0,0,45,True,1,1
5,2016-17,Adam Lallana,MID,Brighton,1,2,33,0,33.7,205,8,3,1,14.2,51.2,2016-08-14T15:00:00Z,75,1,Arsenal,0,0,0,0,1,0,155525,4.0,3.0,57.0,11,0,0,0,70,False,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98393,2021-22,Jack Grieves,FWD,Watford,0,0,0,0,0.0,734,375,0,0,0.0,0.0,2022-05-22T15:00:00Z,0,6,Chelsea,0,0,0,0,38,0,9128,1.0,2.0,0.0,0,4094,5073,979,45,False,0,38
98395,2021-22,N'Golo Kant√©,MID,Chelsea,0,0,12,0,0.0,130,375,1,0,0.0,0.0,2022-05-22T15:00:00Z,90,18,Watford,0,0,0,0,38,0,223561,1.0,2.0,0.0,2,-390,2078,2468,49,True,0,38
98396,2021-22,Josh Martin,MID,Norwich,0,0,0,0,0.0,330,380,0,0,0.0,0.0,2022-05-22T15:00:00Z,0,17,Spurs,0,0,0,0,38,0,25,5.0,0.0,0.0,0,0,0,0,50,True,0,38
98397,2021-22,Wilfred Ndidi,MID,Leicester,0,0,0,0,0.0,216,377,0,0,0.0,0.0,2022-05-22T15:00:00Z,0,16,Southampton,0,0,0,0,38,0,70366,1.0,4.0,0.0,0,-202,22,224,48,True,0,38
98399,2021-22,Nathan Redmond,MID,Southampton,0,0,5,0,0.0,336,377,3,0,0.0,0.0,2022-05-22T15:00:00Z,82,9,Leicester,0,0,0,0,38,0,13856,1.0,4.0,0.0,2,455,683,228,59,False,0,38

In [8]:
kane

,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,opp_team_name,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
66,2016-17,Harry Kane,FWD,Spurs,0,0,5,0,15.3,403,3,1,0,1.9,0.0,2016-08-13T14:00:00Z,90,6,Everton,0,0,0,0,1,0,618838,1.0,1.0,4.0,2,0,0,0,110,False,0,1
259,2016-17,Harry Kane,FWD,Spurs,0,0,0,0,0.0,403,98,0,0,0.0,0.0,2016-10-29T14:00:00Z,0,8,Leicester,0,0,0,0,10,0,204091,1.0,1.0,0.0,0,-5610,397,6007,107,True,0,10
465,2016-17,Harry Kane,FWD,Spurs,0,2,26,0,1.8,403,101,1,1,6.8,34.2,2016-11-06T12:00:00Z,72,1,Arsenal,0,0,0,0,11,0,203826,1.0,1.0,32.0,8,-678,3539,4217,107,False,0,11
671,2016-17,Harry Kane,FWD,Spurs,0,3,57,0,2.6,403,118,2,2,11.1,65.0,2016-11-19T17:30:00Z,90,20,West Ham,0,0,0,0,12,0,246693,2.0,3.0,43.0,13,39848,42536,2688,107,True,0,12
878,2016-17,Harry Kane,FWD,Spurs,0,0,6,0,23.0,403,123,2,0,4.8,12.0,2016-11-26T17:30:00Z,90,4,Chelsea,0,0,0,0,13,0,290626,1.0,2.0,13.0,2,41185,47553,6368,108,False,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95728,2021-22,Harry Kane,FWD,Spurs,0,0,3,1,0.8,357,332,0,0,5.6,8.2,2022-04-23T16:30:00Z,90,3,Brentford,0,0,0,0,34,0,2098014,0.0,0.0,47.0,2,-240326,25537,265863,125,False,0,34
96459,2021-22,Harry Kane,FWD,Spurs,0,0,22,0,7.9,357,347,1,1,9.9,37.2,2022-05-01T13:00:00Z,90,9,Leicester,0,0,0,0,35,0,1951616,1.0,3.0,54.0,6,-161054,25029,186083,125,True,0,35
97457,2021-22,Harry Kane,FWD,Spurs,0,0,10,0,20.7,357,358,1,0,5.3,10.6,2022-05-07T18:45:00Z,90,11,Liverpool,0,0,0,0,36,0,1764284,1.0,1.0,22.0,2,-148060,40226,188286,124,False,0,36
97458,2021-22,Harry Kane,FWD,Spurs,0,3,57,1,12.3,357,218,0,2,22.8,71.8,2022-05-12T18:45:00Z,90,1,Arsenal,0,0,0,0,36,0,1764284,0.0,3.0,144.0,13,-148060,40226,188286,124,True,0,36
98272,2021-22,Harry Kane,FWD,Spurs,1,1,42,1,0.0,357,380,0,1,0.0,0.0,2022-05-22T15:00:00Z,90,15,Norwich,0,0,0,0,38,0,2196579,5.0,0.0,0.0,10,227108,266861,39753,125,False,0,38

In [9]:
kane2

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
442,Harry Kane,FWD,Spurs,4.4,0,0,4,0,22.2,427,8,1,0,7.1,14.6,2022-08-06T14:00:00Z,90,17,0,0,0,0,1,0,2286082,1,4,34,2,0,0,0,115,True,0,1
1020,Harry Kane,FWD,Spurs,5.0,0,2,32,0,33.1,427,15,2,1,11.7,39.6,2022-08-14T15:30:00Z,90,6,0,0,0,0,2,0,1541147,2,2,44,8,-847027,26852,873879,114,False,0,2
1609,Harry Kane,FWD,Spurs,5.8,0,1,30,1,26.2,427,29,0,1,14.7,40.6,2022-08-20T11:30:00Z,90,20,0,0,0,0,3,0,1614483,0,1,80,6,-13241,151387,164628,114,True,1,3
2208,Harry Kane,FWD,Spurs,7.5,0,3,45,1,39.8,427,38,0,2,21.4,90.6,2022-08-28T15:30:00Z,90,16,0,1,0,0,4,0,1710032,2,0,84,10,33207,145546,112339,114,False,1,4
2814,Harry Kane,FWD,Spurs,6.7,1,0,14,0,7.3,427,47,1,0,7.8,6.0,2022-08-31T18:45:00Z,90,19,0,0,0,0,5,0,1775930,1,1,65,5,20503,177547,157044,114,False,0,5
3435,Harry Kane,FWD,Spurs,8.6,0,3,37,1,32.6,427,59,0,1,14.3,46.0,2022-09-03T14:00:00Z,77,9,0,0,0,0,6,0,1679744,1,2,64,9,-127277,123599,250876,114,True,0,6
3926,Harry Kane,FWD,Spurs,9.0,1,1,38,0,32.3,427,79,2,1,14.7,57.8,2022-09-17T16:30:00Z,90,10,0,0,0,0,8,0,2134886,2,6,57,10,238532,314312,75780,114,True,0,8
4019,Harry Kane,FWD,Spurs,0.0,0,0,26,0,1.2,427,81,3,1,7.9,36.2,2022-10-01T11:30:00Z,90,1,0,0,0,0,9,0,2011573,1,3,42,6,29341,155072,125731,114,False,0,9
4020,Harry Kane,FWD,Spurs,0.0,0,2,28,1,14.3,427,93,0,1,8.1,32.0,2022-10-08T16:30:00Z,89,5,0,0,0,0,10,0,2133858,1,0,35,7,102894,217273,114379,114,False,1,10

In [10]:
son2

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
210,Son Heung-min,MID,Spurs,4.2,1,0,23,0,52.5,428,8,1,0,14.5,36.2,2022-08-06T14:00:00Z,90,17,0,0,0,0,1,0,1929156,1,4,56,5,0,0,0,120,True,0,1
786,Son Heung-min,MID,Spurs,3.5,0,0,3,0,14.8,428,15,2,0,6.2,10.6,2022-08-14T15:30:00Z,78,6,0,0,0,0,2,0,1871246,2,2,37,2,-211015,37072,248087,120,False,0,2
1371,Son Heung-min,MID,Spurs,3.8,0,0,-2,1,5.8,428,29,0,0,3.5,0.0,2022-08-20T11:30:00Z,75,20,0,0,0,0,3,0,1709937,0,1,31,3,-218263,73460,291723,119,True,0,3
1967,Son Heung-min,MID,Spurs,4.2,0,0,2,1,31.3,428,38,0,0,5.9,5.8,2022-08-28T15:30:00Z,73,16,0,0,0,0,4,0,1455914,2,0,22,3,-285353,30666,316019,119,False,0,4
2569,Son Heung-min,MID,Spurs,3.5,0,0,2,0,1.8,428,47,1,0,4.0,0.6,2022-08-31T18:45:00Z,90,19,0,0,0,0,5,0,1156313,1,1,38,2,-317771,19806,337577,118,False,0,5
3181,Son Heung-min,MID,Spurs,3.4,0,0,10,0,62.6,428,59,1,0,13.6,16.6,2022-09-03T14:00:00Z,83,9,0,0,0,0,6,0,961990,1,2,57,2,-214168,23843,238011,117,True,0,6
3735,Son Heung-min,MID,Spurs,7.0,0,3,55,0,0.4,428,79,0,3,14.3,104.4,2022-09-17T16:30:00Z,31,10,0,0,0,0,8,0,1101949,2,6,38,19,148426,210666,62240,117,True,0,8
4021,Son Heung-min,MID,Spurs,0.0,0,0,9,0,14.9,428,81,3,0,1.9,4.2,2022-10-01T11:30:00Z,71,1,0,0,0,0,9,0,1189387,1,3,0,2,152184,253350,101166,117,False,0,9
4022,Son Heung-min,NaN,Spurs,0.0,1,0,22,1,36.4,428,93,0,0,8.2,30.0,2022-10-08T16:30:00Z,79,5,0,0,0,0,10,0,1102122,1,0,16,6,-87118,66145,153263,117,False,0,10

In [11]:
cols = kane.columns.values

In [12]:
kane2.columns

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'round', 'saves', 'selected', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards',
       'GW'],
      dtype='object')

In [13]:
kane2.drop(columns=['xP'],inplace=True)
kane2.rename(columns={'team':'team_x'},inplace=True)
kane2['season_x'] = '2022-23'
son2.drop(columns=['xP'],inplace=True)
son2.rename(columns={'team':'team_x'},inplace=True)
son2['season_x'] = '2022-23'
son2['name'] = 'Heung-Min Son'

C:\Users\Dev Panghate\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Dev Panghate\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-13-8f294fef9458>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kane2['season_x'] = '2022-23'
<ipython-input-13-8f294fef9458>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  son2['season_x'] = '2022-23'
<ipython-input-13-8f294fef9458>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  son2['name'] = 'Heung-Min Son'

In [14]:
teams = pd.read_csv('teams_data.csv')
teams

,code,draw,form,id,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,NaN,1,0,Arsenal,0,0,0,ARS,4,NaN,False,0,1200,1270,1160,1230,1160,1240,1
1,7,0,NaN,2,0,Aston Villa,0,0,0,AVL,3,NaN,False,0,1090,1100,1110,1110,1070,1090,2
2,91,0,NaN,3,0,Bournemouth,0,0,0,BOU,2,NaN,False,0,1050,1070,1070,1110,1040,1070,127
3,94,0,NaN,4,0,Brentford,0,0,0,BRE,3,NaN,False,0,1100,1150,1100,1150,1140,1170,130
4,36,0,NaN,5,0,Brighton,0,0,0,BHA,3,NaN,False,0,1140,1140,1170,1160,1150,1170,131
5,8,0,NaN,6,0,Chelsea,0,0,0,CHE,4,NaN,False,0,1210,1230,1230,1220,1200,1210,4
6,31,0,NaN,7,0,Crystal Palace,0,0,0,CRY,3,NaN,False,0,1090,1150,1090,1180,1080,1160,6
7,11,0,NaN,8,0,Everton,0,0,0,EVE,3,NaN,False,0,1080,1100,1090,1090,1090,1110,7
8,54,0,NaN,9,0,Fulham,0,0,0,FUL,3,NaN,False,0,1070,1090,1090,1090,1100,1120,34
9,13,0,NaN,10,0,Leicester,0,0,0,LEI,3,NaN,False,0,1100,1100,1070,1080,1150,1100,26
10,2,0,NaN,11,0,Leeds,0,0,0,LEE,3,NaN,False,0,1100,1100,1090,1100,1140,1130,9
11,14,0,NaN,12,0,Liverpool,0,0,0,LIV,5,NaN,False,0,1320,1350,1270,1290,1340,1350,10
12,43,0,NaN,13,0,Man City,0,0,0,MCI,5,NaN,False,0,1350,1370,1340,1360,1340,1360,11
13,1,0,NaN,14,0,Man Utd,0,0,0,MUN,3,NaN,False,0,1150,1220,1140,1150,1160,1200,12
14,4,0,NaN,15,0,Newcastle,0,0,0,NEW,3,NaN,False,0,1110,1190,1150,1160,1100,1170,23
15,17,0,NaN,16,0,Nott'm Forest,0,0,0,NFO,2,NaN,False,0,1045,1070,1050,1050,1040,1100,15
16,20,0,NaN,17,0,Southampton,0,0,0,SOU,3,NaN,False,0,1090,1100,1090,1110,1100,1130,20
17,6,0,NaN,18,0,Spurs,0,0,0,TOT,4,NaN,False,0,1210,1250,1170,1230,1200,1210,21
18,21,0,NaN,19,0,West Ham,0,0,0,WHU,3,NaN,False,0,1100,1150,1130,1130,1140,1110,25
19,39,0,NaN,20,0,Wolves,0,0,0,WOL,3,NaN,False,0,1100,1100,1130,1130,1080,1080,38

In [15]:
id_dict = {}
for index,row in teams.iterrows():
    id_dict[row['id']] = row['name']
id_dict

{1: 'Arsenal',
 2: 'Aston Villa',
 3: 'Bournemouth',
 4: 'Brentford',
 5: 'Brighton',
 6: 'Chelsea',
 7: 'Crystal Palace',
 8: 'Everton',
 9: 'Fulham',
 10: 'Leicester',
 11: 'Leeds',
 12: 'Liverpool',
 13: 'Man City',
 14: 'Man Utd',
 15: 'Newcastle',
 16: "Nott'm Forest",
 17: 'Southampton',
 18: 'Spurs',
 19: 'West Ham',
 20: 'Wolves'}

In [16]:
l1=[]
l2=[]
for index,row in kane2.iterrows():
    #print(row['opp_team_name'],id_dict[row['opponent_team']])
    l1.append(id_dict[row['opponent_team']])
kane2['opp_team_name'] = l1    
for index,row in son2.iterrows():
    #print(row['opp_team_name'],id_dict[row['opponent_team']])
    l2.append(id_dict[row['opponent_team']])
son2['opp_team_name'] = l2

<ipython-input-16-3b3d0f56c9f5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kane2['opp_team_name'] = l1
<ipython-input-16-3b3d0f56c9f5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  son2['opp_team_name'] = l2

In [17]:
kane2 = kane2[cols]
son2 = son2[cols]

In [18]:
kane = pd.concat([kane, kane2])
son = pd.concat([son,son2])

In [19]:
kane

,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,opp_team_name,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
66,2016-17,Harry Kane,FWD,Spurs,0,0,5,0,15.3,403,3,1,0,1.9,0.0,2016-08-13T14:00:00Z,90,6,Everton,0,0,0,0,1,0,618838,1.0,1.0,4.0,2,0,0,0,110,False,0,1
259,2016-17,Harry Kane,FWD,Spurs,0,0,0,0,0.0,403,98,0,0,0.0,0.0,2016-10-29T14:00:00Z,0,8,Leicester,0,0,0,0,10,0,204091,1.0,1.0,0.0,0,-5610,397,6007,107,True,0,10
465,2016-17,Harry Kane,FWD,Spurs,0,2,26,0,1.8,403,101,1,1,6.8,34.2,2016-11-06T12:00:00Z,72,1,Arsenal,0,0,0,0,11,0,203826,1.0,1.0,32.0,8,-678,3539,4217,107,False,0,11
671,2016-17,Harry Kane,FWD,Spurs,0,3,57,0,2.6,403,118,2,2,11.1,65.0,2016-11-19T17:30:00Z,90,20,West Ham,0,0,0,0,12,0,246693,2.0,3.0,43.0,13,39848,42536,2688,107,True,0,12
878,2016-17,Harry Kane,FWD,Spurs,0,0,6,0,23.0,403,123,2,0,4.8,12.0,2016-11-26T17:30:00Z,90,4,Chelsea,0,0,0,0,13,0,290626,1.0,2.0,13.0,2,41185,47553,6368,108,False,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2814,2022-23,Harry Kane,FWD,Spurs,1,0,14,0,7.3,427,47,1,0,7.8,6.0,2022-08-31T18:45:00Z,90,19,West Ham,0,0,0,0,5,0,1775930,1.0,1.0,65.0,5,20503,177547,157044,114,False,0,5
3435,2022-23,Harry Kane,FWD,Spurs,0,3,37,1,32.6,427,59,0,1,14.3,46.0,2022-09-03T14:00:00Z,77,9,Fulham,0,0,0,0,6,0,1679744,1.0,2.0,64.0,9,-127277,123599,250876,114,True,0,6
3926,2022-23,Harry Kane,FWD,Spurs,1,1,38,0,32.3,427,79,2,1,14.7,57.8,2022-09-17T16:30:00Z,90,10,Leicester,0,0,0,0,8,0,2134886,2.0,6.0,57.0,10,238532,314312,75780,114,True,0,8
4019,2022-23,Harry Kane,FWD,Spurs,0,0,26,0,1.2,427,81,3,1,7.9,36.2,2022-10-01T11:30:00Z,90,1,Arsenal,0,0,0,0,9,0,2011573,1.0,3.0,42.0,6,29341,155072,125731,114,False,0,9
4020,2022-23,Harry Kane,FWD,Spurs,0,2,28,1,14.3,427,93,0,1,8.1,32.0,2022-10-08T16:30:00Z,89,5,Brighton,0,0,0,0,10,0,2133858,1.0,0.0,35.0,7,102894,217273,114379,114,False,1,10

In [20]:
kane.to_csv('kane_data.csv')
son.to_csv('son_data.csv')