In [3]:
#imports 
from statsbombpy import sb
import mplsoccer

import pandas as pd
import numpy as np
import math

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
from copy import deepcopy
from ast import literal_eval

In [4]:
#df settings
pd.set_option("display.max_rows", 150)
pd.set_option("display.max_columns", 50)

In [6]:
data = pd.read_csv('played.csv')

In [7]:

def enter_team():
    player_names =literal_eval(input('Enter your team and their GW opponents as a dictionary'))
    team = pd.DataFrame()
    team['player_name']=list(player_names.keys())
    team['opponent_team'] = list(player_names.values())
    teams = np.array([])
    #print(team)
    for name in list(team['player_name']):
        i=0
        try:
            player_data = data[data['name']==name]
            while not player_data['team_x'].iloc[i]:
                i+=1
                continue
            teams = np.append(teams , player_data['team_x'].iloc[i])
        except:
            teams=np.append(teams,np.nan)
    team['latest_team'] = teams
    print(team)
    return team

In [ ]:
exp_points=np.array([])
for i in range(len(team['player_name'])):
    filter_data = data[(data['name']==team['player_name'].iloc[i]) & (data['opp_team_name']==team['opponent_team'].iloc[i])]['total_points']
    #print(filter_data.mean())
    exp_points=np.append(exp_points, filter_data.mean())
team['expected_points']=exp_points    
print(exp_points)

In [9]:
def get_fixtures(fixture_string,change_names_dict):
    fixture_list = fixture_string.split(sep=' , ')
    #print(fixture_list)
    fixture_dict = {}
    for i in fixture_list:
        l1 = i.split(sep=' v ')
        #print(l1)
        if change_names_dict.get(l1[0])!=None:
            l1[0]=change_names_dict[l1[0]]
        if change_names_dict.get(l1[1])!=None:
            l1[1]=change_names_dict[l1[1]]    
        fixture_dict[l1[0]]=l1[1]
        fixture_dict[l1[1]]=l1[0]
        
    return fixture_dict

In [10]:
string1 = 'Aston Villa v Crystal Palace , Arsenal v Bournemouth , Brighton v West Ham , Manchester City v Newcastle , Chelsea v Leeds , Wolves v Spurs , Brentford v Fulham , Nottm Forest v Everton , Liverpool v Man Utd , Leicester v Southampton'

In [11]:
change_names_dict = {'Leicester City': 'Leicester','Newcastle United':'Newcastle','Manchester City':'Man City','AFC Bournemouth':'Bournemouth','Leeds United':'Leeds','Manchester United':'Man Utd','Tottenham Hotspur':'Spurs','West Ham United':'West Ham'}

In [22]:
fixtures = get_fixtures(string1,change_names_dict)
recc_list=pd.DataFrame()
for team in list(fixtures.keys()):
    data_subset = data[(data['opp_team_name']==team) & (data['team_x']==fixtures[team])]
    if len(data_subset)==0:
        continue
    data_subset = data_subset.groupby(['name','opp_team_name'])['total_points'].agg(['mean','count'])
    data_subset.sort_values(by='mean',ascending=False,inplace=True)
    #print(data_subset.head())
    recc_list = recc_list.append(data_subset.head(4))

In [23]:
recc_list

                                                         mean  count
name                                opp_team_name
Marc Guéhi                          Aston Villa      9.000000      1
Eberechi Eze                        Aston Villa      4.000000      3
Tyrick Mitchell                     Aston Villa      3.500000      4
Vicente Guaita                      Aston Villa      2.600000      5
Ollie Watkins                       Crystal Palace   6.000000      3
John McGinn                         Crystal Palace   4.800000      5
Anwar El Ghazi                      Crystal Palace   4.200000      5
Ashley Young                        Crystal Palace   3.333333      9
Pierre-Emerick Aubameyang           Bournemouth      6.000000      4
Sead Kolasinac                      Bournemouth      5.500000      6
David Luiz Moreira Marinho          Bournemouth      4.875000      8
Bernd Leno                          Bournemouth      3.750000      4
Tomas Soucek                        Brighton         4.800000      5
Saïd Benrahma                       Brighton         2.750000      4
Robert Snodgrass                    Brighton         2.750000      8
Craig Dawson                        Brighton         2.625000      8
Pascal Groß                         West Ham         5.200000     10
Percy Tau                           West Ham         4.000000      1
Danny Welbeck                       West Ham         3.166667     12
Lewis Dunk                          West Ham         3.100000     10
Joelinton Cássio Apolinário de Lira Man City         2.666667      6
Miguel Almirón                      Man City         2.166667      6
Jonjo Shelvey                       Man City         1.900000     10
Jacob Murphy                        Man City         1.900000     10
João Pedro Cavaco Cancelo           Newcastle        7.666667      6
Raheem Sterling                     Newcastle        7.600000     10
Ferran Torres                       Newcastle        7.000000      4
Rúben Santos Gato Alves Dias        Newcastle        5.500000      4
Illan Meslier                       Chelsea          4.000000      4
Raphael Dias Belloli                Chelsea          3.250000      4
Ezgjan Alioski                      Chelsea          3.000000      2
Kalvin Phillips                     Chelsea          2.750000      4
Mason Mount                         Leeds            7.500000      4
Jorge Luiz Frello Filho             Leeds            5.250000      4
Antonio Rüdiger                     Leeds            5.250000      4
Christian Pulisic                   Leeds            4.750000      4
Sergio Reguilón                     Wolves           4.500000      4
Pierre-Emile Højbjerg               Wolves           3.750000      8
Gareth Bale                         Wolves           3.500000      2
Hugo Lloris                         Wolves           3.375000      8
José Malheiro de Sá                 Spurs            6.500000      2
Raúl Jiménez                        Spurs            4.875000      8
Rúben Diogo da Silva Neves          Spurs            2.625000      8
Leander Dendoncker                  Spurs            2.500000      8
Joachim Andersen                    Brentford        7.000000      2
Ademola Lookman                     Brentford        0.000000      2
Alphonse Areola                     Brentford        0.000000      2
Mathias Jorgensen                   Fulham           5.000000      2
Jonas Lössl                         Fulham           4.250000      4
Christian Eriksen                   Fulham           4.000000      2
Marcus Rashford                     Liverpool        3.416667     12
David de Gea                        Liverpool        3.400000     10
Bruno Miguel Borges Fernandes       Liverpool        3.250000      4
Harry Maguire                       Liverpool        2.583333     12
Luis Díaz                           Man Utd         12.000000      1
Mohamed Salah                       Man Utd          7.000000     10
Alisson Ramses Becker               Man Utd          6.375000      8
Diogo Jota                          Man Utd          4.500000      8
James Ward-Prowse                   Leicester        3.916667     12
Stuart Armstrong                    Leicester        3.000000      8
Che Adams                           Leicester        3.000000      6
Ryan Bertrand                       Leicester        2.500000     10
Ayoze Pérez                         Southampton      6.700000     10
James Maddison                      Southampton      5.875000      8
Youri Tielemans                     Southampton      4.666667      6
Jamie Vardy                         Southampton      4.500000     12

In [24]:
#removing entries with less than two apprearences agianst the opposition
recc_list.drop(recc_list[(recc_list['count']<2) | (recc_list['mean']<=3)].index,inplace=True)

In [25]:
recc_list.reset_index(inplace=True)

In [26]:
recc_list

                             name   opp_team_name      mean  count
0                    Eberechi Eze     Aston Villa  4.000000      3
1                 Tyrick Mitchell     Aston Villa  3.500000      4
2                   Ollie Watkins  Crystal Palace  6.000000      3
3                     John McGinn  Crystal Palace  4.800000      5
4                  Anwar El Ghazi  Crystal Palace  4.200000      5
5                    Ashley Young  Crystal Palace  3.333333      9
6       Pierre-Emerick Aubameyang     Bournemouth  6.000000      4
7                  Sead Kolasinac     Bournemouth  5.500000      6
8      David Luiz Moreira Marinho     Bournemouth  4.875000      8
9                      Bernd Leno     Bournemouth  3.750000      4
10                   Tomas Soucek        Brighton  4.800000      5
11                    Pascal Groß        West Ham  5.200000     10
12                  Danny Welbeck        West Ham  3.166667     12
13                     Lewis Dunk        West Ham  3.100000     10
14      João Pedro Cavaco Cancelo       Newcastle  7.666667      6
15                Raheem Sterling       Newcastle  7.600000     10
16                  Ferran Torres       Newcastle  7.000000      4
17   Rúben Santos Gato Alves Dias       Newcastle  5.500000      4
18                  Illan Meslier         Chelsea  4.000000      4
19           Raphael Dias Belloli         Chelsea  3.250000      4
20                    Mason Mount           Leeds  7.500000      4
21        Jorge Luiz Frello Filho           Leeds  5.250000      4
22                Antonio Rüdiger           Leeds  5.250000      4
23              Christian Pulisic           Leeds  4.750000      4
24                Sergio Reguilón          Wolves  4.500000      4
25          Pierre-Emile Højbjerg          Wolves  3.750000      8
26                    Gareth Bale          Wolves  3.500000      2
27                    Hugo Lloris          Wolves  3.375000      8
28            José Malheiro de Sá           Spurs  6.500000      2
29                   Raúl Jiménez           Spurs  4.875000      8
30               Joachim Andersen       Brentford  7.000000      2
31              Mathias Jorgensen          Fulham  5.000000      2
32                    Jonas Lössl          Fulham  4.250000      4
33              Christian Eriksen          Fulham  4.000000      2
34                Marcus Rashford       Liverpool  3.416667     12
35                   David de Gea       Liverpool  3.400000     10
36  Bruno Miguel Borges Fernandes       Liverpool  3.250000      4
37                  Mohamed Salah         Man Utd  7.000000     10
38          Alisson Ramses Becker         Man Utd  6.375000      8
39                     Diogo Jota         Man Utd  4.500000      8
40              James Ward-Prowse       Leicester  3.916667     12
41                    Ayoze Pérez     Southampton  6.700000     10
42                 James Maddison     Southampton  5.875000      8
43                Youri Tielemans     Southampton  4.666667      6
44                    Jamie Vardy     Southampton  4.500000     12

In [29]:
#dropping irrelevant players
recc_list.drop([5,6,7,8,9,25,19,21,22,26,32],inplace=True)

In [32]:
recc_list.columns

Index(['name', 'opp_team_name', 'mean', 'count'], dtype='object')

In [33]:
recc_list

                             name   opp_team_name      mean  count
0                    Eberechi Eze     Aston Villa  4.000000      3
1                 Tyrick Mitchell     Aston Villa  3.500000      4
2                   Ollie Watkins  Crystal Palace  6.000000      3
3                     John McGinn  Crystal Palace  4.800000      5
4                  Anwar El Ghazi  Crystal Palace  4.200000      5
10                   Tomas Soucek        Brighton  4.800000      5
11                    Pascal Groß        West Ham  5.200000     10
12                  Danny Welbeck        West Ham  3.166667     12
13                     Lewis Dunk        West Ham  3.100000     10
14      João Pedro Cavaco Cancelo       Newcastle  7.666667      6
15                Raheem Sterling       Newcastle  7.600000     10
16                  Ferran Torres       Newcastle  7.000000      4
17   Rúben Santos Gato Alves Dias       Newcastle  5.500000      4
18                  Illan Meslier         Chelsea  4.000000      4
20                    Mason Mount           Leeds  7.500000      4
23              Christian Pulisic           Leeds  4.750000      4
24                Sergio Reguilón          Wolves  4.500000      4
27                    Hugo Lloris          Wolves  3.375000      8
28            José Malheiro de Sá           Spurs  6.500000      2
29                   Raúl Jiménez           Spurs  4.875000      8
30               Joachim Andersen       Brentford  7.000000      2
31              Mathias Jorgensen          Fulham  5.000000      2
33              Christian Eriksen          Fulham  4.000000      2
34                Marcus Rashford       Liverpool  3.416667     12
35                   David de Gea       Liverpool  3.400000     10
36  Bruno Miguel Borges Fernandes       Liverpool  3.250000      4
37                  Mohamed Salah         Man Utd  7.000000     10
38          Alisson Ramses Becker         Man Utd  6.375000      8
39                     Diogo Jota         Man Utd  4.500000      8
40              James Ward-Prowse       Leicester  3.916667     12
41                    Ayoze Pérez     Southampton  6.700000     10
42                 James Maddison     Southampton  5.875000      8
43                Youri Tielemans     Southampton  4.666667      6
44                    Jamie Vardy     Southampton  4.500000     12

In [34]:
recc_list.drop([15,16],inplace=True)

In [35]:
recc_list.reset_index(inplace=True)

In [36]:
recc_list

    index                           name   opp_team_name      mean  count
0       0                   Eberechi Eze     Aston Villa  4.000000      3
1       1                Tyrick Mitchell     Aston Villa  3.500000      4
2       2                  Ollie Watkins  Crystal Palace  6.000000      3
3       3                    John McGinn  Crystal Palace  4.800000      5
4       4                 Anwar El Ghazi  Crystal Palace  4.200000      5
5      10                   Tomas Soucek        Brighton  4.800000      5
6      11                    Pascal Groß        West Ham  5.200000     10
7      12                  Danny Welbeck        West Ham  3.166667     12
8      13                     Lewis Dunk        West Ham  3.100000     10
9      14      João Pedro Cavaco Cancelo       Newcastle  7.666667      6
10     17   Rúben Santos Gato Alves Dias       Newcastle  5.500000      4
11     18                  Illan Meslier         Chelsea  4.000000      4
12     20                    Mason Mount           Leeds  7.500000      4
13     23              Christian Pulisic           Leeds  4.750000      4
14     24                Sergio Reguilón          Wolves  4.500000      4
15     27                    Hugo Lloris          Wolves  3.375000      8
16     28            José Malheiro de Sá           Spurs  6.500000      2
17     29                   Raúl Jiménez           Spurs  4.875000      8
18     30               Joachim Andersen       Brentford  7.000000      2
19     31              Mathias Jorgensen          Fulham  5.000000      2
20     33              Christian Eriksen          Fulham  4.000000      2
21     34                Marcus Rashford       Liverpool  3.416667     12
22     35                   David de Gea       Liverpool  3.400000     10
23     36  Bruno Miguel Borges Fernandes       Liverpool  3.250000      4
24     37                  Mohamed Salah         Man Utd  7.000000     10
25     38          Alisson Ramses Becker         Man Utd  6.375000      8
26     39                     Diogo Jota         Man Utd  4.500000      8
27     40              James Ward-Prowse       Leicester  3.916667     12
28     41                    Ayoze Pérez     Southampton  6.700000     10
29     42                 James Maddison     Southampton  5.875000      8
30     43                Youri Tielemans     Southampton  4.666667      6
31     44                    Jamie Vardy     Southampton  4.500000     12

In [37]:
recc_list[['name', 'opp_team_name', 'mean', 'count']].to_

                             name   opp_team_name      mean  count
0                    Eberechi Eze     Aston Villa  4.000000      3
1                 Tyrick Mitchell     Aston Villa  3.500000      4
2                   Ollie Watkins  Crystal Palace  6.000000      3
3                     John McGinn  Crystal Palace  4.800000      5
4                  Anwar El Ghazi  Crystal Palace  4.200000      5
5                    Tomas Soucek        Brighton  4.800000      5
6                     Pascal Groß        West Ham  5.200000     10
7                   Danny Welbeck        West Ham  3.166667     12
8                      Lewis Dunk        West Ham  3.100000     10
9       João Pedro Cavaco Cancelo       Newcastle  7.666667      6
10   Rúben Santos Gato Alves Dias       Newcastle  5.500000      4
11                  Illan Meslier         Chelsea  4.000000      4
12                    Mason Mount           Leeds  7.500000      4
13              Christian Pulisic           Leeds  4.750000      4
14                Sergio Reguilón          Wolves  4.500000      4
15                    Hugo Lloris          Wolves  3.375000      8
16            José Malheiro de Sá           Spurs  6.500000      2
17                   Raúl Jiménez           Spurs  4.875000      8
18               Joachim Andersen       Brentford  7.000000      2
19              Mathias Jorgensen          Fulham  5.000000      2
20              Christian Eriksen          Fulham  4.000000      2
21                Marcus Rashford       Liverpool  3.416667     12
22                   David de Gea       Liverpool  3.400000     10
23  Bruno Miguel Borges Fernandes       Liverpool  3.250000      4
24                  Mohamed Salah         Man Utd  7.000000     10
25          Alisson Ramses Becker         Man Utd  6.375000      8
26                     Diogo Jota         Man Utd  4.500000      8
27              James Ward-Prowse       Leicester  3.916667     12
28                    Ayoze Pérez     Southampton  6.700000     10
29                 James Maddison     Southampton  5.875000      8
30                Youri Tielemans     Southampton  4.666667      6
31                    Jamie Vardy     Southampton  4.500000     12